.grouped-stacked-bar-graph {
  width: 100%;
  height: 100%;
  .axis {
      path, line {
      cursor: pointer;
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }

    text {
      cursor: pointer;
      font-size: 10px;
    }
  }

  .label {
    cursor: pointer;
    font-size: 14px;
    fill: #3D3D3D;
  }
}

.grouped-stacked-stack,
.grouped-stacked-group{
  position: absolute;
  width: 75px;
  height: 20px;
  font-size: 14px;
  line-height: 20px;
  background-color: #666;
  color: #fff;
  cursor: pointer;
  text-align: center;
}

.grouped-stacked-stack:hover,
.grouped-stacked-group:hover{
  background-color: #303030;
}

.grouped-stacked-stack{
  top: 5px;
  right: 145px;
}

.grouped-stacked-group{
  top: 5px;
  right: 65px;
}
